pipeline/am_da_pl_CD_02_inventory_Project.json
{
	"name": "am_da_pl_CD_02_inventory_Project",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_Transactions",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel4",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter_transaction",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_Transactions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_Transactions').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,variables('Parts_Inventory_Transactions'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_transaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@activity('Filter_transaction').output.value[0].name\n\n",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [inventory].[Parts_Inventory_Transactions]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Excel4",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Azuresqlnventory_transactions",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Parts_Inventory_Transactions": {
				"type": "string",
				"defaultValue": "Parts_Inventory_Transactions"
			},
			"Parts_Item_Category_Assignment": {
				"type": "string",
				"defaultValue": "Parts_Item_Category_Assignment"
			},
			"Parts_Item_Cross_Reference": {
				"type": "string",
				"defaultValue": "Parts_Item_Cross_Reference"
			},
			"Parts_Item_Header_": {
				"type": "string",
				"defaultValue": "Parts_Item_Header"
			},
			"Parts_Item_Transaction_Default_Locators": {
				"type": "string",
				"defaultValue": "Parts_Item_Transaction_Default_Locators"
			},
			"Parts_MFG_Part_Number": {
				"type": "string",
				"defaultValue": "Parts_MFG_Part_Number"
			},
			"Parts_Item_Transaction_Default_Locators_subinventory": {
				"type": "string",
				"defaultValue": "Parts_Item_Transaction_Default_Locators_subinventory"
			}
		},
		"variables": {
			"Parts_Inventory_Transactions": {
				"type": "String",
				"defaultValue": "Parts_Inventory_Transactions"
			},
			"Parts_Item_Category_Assignment": {
				"type": "String",
				"defaultValue": "Parts_Item_Category_Assignment"
			},
			"Parts_Item_Cross_Reference": {
				"type": "String",
				"defaultValue": "Parts_Item_Cross_Reference"
			},
			"Parts_Item_Header": {
				"type": "String",
				"defaultValue": "Parts_Item_Header"
			},
			"Parts_Item_Transaction_Default_Locators": {
				"type": "String",
				"defaultValue": "Parts_Item_Transaction_Default_Locators"
			},
			"Parts_MFG_Part_Number": {
				"type": "String",
				"defaultValue": "Parts_MFG_Part_Number"
			},
			"Parts_Item_Transaction_Default_Locators_subinventory": {
				"type": "String",
				"defaultValue": "Parts_Item_Transaction_Default_Locators_subinventory"
			}
		},
		"folder": {
			"name": "inventory"
		},
		"annotations": []
	}
}