pipeline/building1.json
{
	"name": "building1",
	"properties": {
		"activities": [
			{
				"name": "metaGetExcell",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "building3",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					}
				}
			},
			{
				"name": "Filter xlsx",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metaGetExcell",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metaGetExcell').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith('item.name','.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy file to proceed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter xlsx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "valid",
							"wildcardFileName": {
								"value": "@activity('Filter xlsx').output.value[0].name",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [customer].[Building]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "building3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlbuilding",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "ingest"
		},
		"annotations": []
	}
}