pipeline/demo.json
{
	"name": "demo",
	"properties": {
		"activities": [
			{
				"name": "getmfg",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel5demoMFG",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getmfg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmfg').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,variables('Parts_MFG_Part_Number'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy mfg demo",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@activity('Filter1').output.value[0].name",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "demomfg",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Parts_MFG_Part_Number": {
				"type": "String",
				"defaultValue": "Parts_MFG_Part_Number"
			}
		},
		"folder": {
			"name": "inventory"
		},
		"annotations": []
	}
}