pipeline/demo.json
{
	"name": "demo",
	"properties": {
		"activities": [
			{
				"name": "getmfg",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Excel5demoMFG",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getmfg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Default_Subinventories').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Parts_MFG_Part_Number": {
				"type": "String",
				"defaultValue": "Parts_MFG_Part_Number"
			}
		},
		"folder": {
			"name": "inventory"
		},
		"annotations": []
	}
}