pipeline/incrementalload.json
{
	"name": "incrementalload",
	"properties": {
		"activities": [
			{
				"name": "lookupOldWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = '@{pipeline().parameters.finalTableName}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlWatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lookupNewWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT MAX(@{pipeline().parameters.waterMarkCol}) AS NewwaterMarkVal\nFROM @{pipeline().parameters.srcTableName}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerStudent",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopytoStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookupOldWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookupNewWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from @{pipeline().parameters.srcTableName}\nwhere @{pipeline().parameters.waterMarkCol} > \n'@{activity('lookupOldWaterMark').output.firstRow.waterMarkVal}' \nand @{pipeline().parameters.waterMarkCol} <= \n'@{activity('lookupNewWaterMark').output.firstRow.NewwaterMarkVal}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerStudent",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"finalTableName": {
				"type": "string",
				"defaultValue": "Student"
			},
			"srcTableName": {
				"type": "string",
				"defaultValue": "Student"
			},
			"waterMarkCol": {
				"type": "string",
				"defaultValue": "updateDate"
			},
			"stgTableName": {
				"type": "string",
				"defaultValue": "stgStudent"
			},
			"storedProcUpsert": {
				"type": "string",
				"defaultValue": "usp_upsert_Student"
			},
			"storedProcWaterMark": {
				"type": "string",
				"defaultValue": "usp_update_WaterMark"
			}
		},
		"folder": {
			"name": "Training"
		},
		"annotations": []
	}
}