mohamedAD1/PartialArmTemplates/ArmTemplate_1_20_2021_10_41_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mohamedAD1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Inventory_Transactions_')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Inventorytransactions",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Azuresqlnventory_transactions",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_Inventorytransactions')]",
				"[concat(variables('factoryId'), '/datasets/Azuresqlnventory_transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Item_Transactiono')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedItem_Transaction",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Transaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedItem_Transaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MFG_Part_Number')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MFG_Part_Number",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlMFG_Part_Number",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MFG_Part_Number')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlMFG_Part_Number')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_SQL_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get-Tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQLDB_PIPEINE_PARAMETER",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get-Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get-Tables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTable2",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "dsADLS2",
											"type": "DatasetReference",
											"parameters": {
												"table_name": "@{item().Table_Name}",
												"table_catalog_name": "@{item().Table_Catalog}"
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Inventory_Transactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azuresqlnventory_transactions",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedTexParts_Inventory_Transactions",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Azuresqlnventory_transactions')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedTexParts_Inventory_Transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_ItemTransaction_Default_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Transaction_Default_Subinventories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Subinventories",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Transaction_Default_Subinventories')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Transaction_Default_Subinventories')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Category_Assignment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Category_Assignmentout')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedTParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedTParts_Item_Category_Assignment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Cross_Reference')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CROSS_REFERENCE_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CROSS_REFERENCE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CROSS_REFERENCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CROSS_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Cross_Reference",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Cross_Reference",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Cross_Reference')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Cross_Reference')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Header')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION_ESA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION_ESA",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TEMPLATE_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TEMPLATE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WEIGHT_UOM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WEIGHT_UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UNIT_WEIGHT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_WEIGHT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VOLUME_UOM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VOLUME_UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UNIT_VOLUME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_VOLUME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MIN_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MIN_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAX_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MAX_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FULL_LEAD_TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FULL_LEAD_TIME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FIXED_LOT_MULTIPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FIXED_LOT_MULTIPLIER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FIXED_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FIXED_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MINIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MINIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAXIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MAXIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LONG_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LONG_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ITEM_INV_APPLICATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_INV_APPLICATION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_CONDITION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_CONDITION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADJUSTMENT_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ADJUSTMENT_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CORRECTION_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CORRECTION_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SALES_COST_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SALES_COST_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FOUR_DIGIT_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FOUR_DIGIT_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Header",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqParts_Item_Header",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Header')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqParts_Item_Header')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Headero')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION_ESA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DESCRIPTION_ESA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TEMPLATE_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TEMPLATE_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LIST_PRICE_PER_UNIT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UOM_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "WEIGHT_UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WEIGHT_UOM_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_WEIGHT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UNIT_WEIGHT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VOLUME_UOM_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "VOLUME_UOM_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_VOLUME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "UNIT_VOLUME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MIN_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MIN_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MAX_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAX_MINMAX_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FULL_LEAD_TIME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FULL_LEAD_TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FIXED_LOT_MULTIPLIER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FIXED_LOT_MULTIPLIER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FIXED_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FIXED_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MINIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MINIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MAXIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAXIMUM_ORDER_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LONG_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LONG_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_INV_APPLICATION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_INV_APPLICATION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_CONDITION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_CONDITION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ADJUSTMENT_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADJUSTMENT_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CORRECTION_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CORRECTION_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SALES_COST_ACCOUNT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SALES_COST_ACCOUNT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FOUR_DIGIT_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FOUR_DIGIT_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqParts_Item_Header",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedParts_Item_Header",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqParts_Item_Header')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedParts_Item_Header')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Transaction_Default_Subinventor')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Parts_Item_Transaction_Default_Subinv",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Transaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Transaction_Default_Subinv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_MFG_Part_Number')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PART_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PART_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlMFG_Part_Number",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Delimitedmfg",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory/transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlMFG_Part_Number')]",
				"[concat(variables('factoryId'), '/datasets/Delimitedmfg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/am_da_pl_CD_02_inventory_Project')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata_Transactions",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel4",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter_transaction",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata_Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata_Transactions').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Inventory_Transactions'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter_transaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter_transaction').output.value[0].name\n\n",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [inventory].[Parts_Inventory_Transactions]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy file to processed transaction",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter_transaction').output.value[0].name\n",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed transaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Excel4",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter_transaction').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "GetMetadataItem_category_assignment",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Item_Category_Assignment",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataItem_category_assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataItem_category_assignment').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Category_Assignment'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Item_Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "  truncate table [inventory].[Parts_Item_Category_Assignment]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTAzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy file to processed Category_Assignment",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": " @activity('Filter Item_Category_Assignment').output.value[0].name",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "GetMetadataItem_cCross_Reference",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelCross_Reference",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Cross_Reference",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataItem_cCross_Reference",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataItem_cCross_Reference').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Cross_Reference'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Cross_Reference",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Cross_Reference').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "  truncate table [inventory].[Parts_Item_Cross_Reference]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCross_Reference",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Cross_Reference",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy file to processed Cross_Reference",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Cross_Reference').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Cross_Reference",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get Item_Header",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Item_Header",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Item_Header",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Item_Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Item_Header').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Header'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data3_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Item_Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Header').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "  truncate table [inventory].[Parts_Item_Header]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Item_Header",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqParts_Item_Header",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get ITrans_D_Loc",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Item_header2",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get ITrans_D_Loc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get ITrans_D_Loc').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Transaction_Default_Locators'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data3_copy1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Item_header2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_header2').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [inventory].[Parts_Item_Transaction_Default_Locators]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "GetMetadataItem_MFG",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelMFG",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter mfg",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataItem_MFG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataItem_MFG').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_MFG_Part_Number'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy mfg",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter mfg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter mfg').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [inventory].[Parts_MFG_Part_Number]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelMFG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlMFG",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get_Default_Subinventories",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelDefault_Subinventories",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Subinventories",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Default_Subinventories",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Default_Subinventories').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Transaction_Default_Locators_subinventory'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy Subinventories",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Subinventories",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Subinventories').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [inventory].[Parts_Item_Transaction_Default_Subinventories]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelDefault_Subinventories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlSubinventories",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Cross_Reference",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parts_Item_Cross_Reference",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter Cross_Reference').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy file to processed Cross_Reference_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Header').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Item_Header",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2_copy1_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Cross_Reference_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parts_Item_Cross_Reference",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter Item_Header').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy file to processed Cross_Reference_copy1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_header2').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2_copy1_copy1_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Cross_Reference_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Parts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter Item_header2').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "mfg",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy mfg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter mfg').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelMFG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete3",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "mfg",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelMFG",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter mfg').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "mfg_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Subinventories",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Subinventories').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelDefault_Subinventories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete3_copy1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "mfg_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelDefault_Subinventories",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": {
									"value": "@{activity('Filter Subinventories').output.value[0].name}",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"variables": {
					"Parts_Inventory_Transactions": {
						"type": "String",
						"defaultValue": "Parts_Inventory_Transactions"
					},
					"Parts_Item_Category_Assignment": {
						"type": "String",
						"defaultValue": "Parts_Item_Category_Assignment"
					},
					"Parts_Item_Cross_Reference": {
						"type": "String",
						"defaultValue": "Parts_Item_Cross_Reference"
					},
					"Parts_Item_Header": {
						"type": "String",
						"defaultValue": "Parts_Item_Header"
					},
					"Parts_Item_Transaction_Default_Locators": {
						"type": "String",
						"defaultValue": "Parts_Item_Transaction_Default_Locators"
					},
					"Parts_MFG_Part_Number": {
						"type": "String",
						"defaultValue": "Parts_MFG_Part_Number"
					},
					"Parts_Item_Transaction_Default_Locators_subinventory": {
						"type": "String",
						"defaultValue": "Parts_Item_Transaction_Default_Subinventories"
					},
					"emptyinteger": {
						"type": "String",
						"defaultValue": "\"\""
					}
				},
				"folder": {
					"name": "inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel4')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText10')]",
				"[concat(variables('factoryId'), '/datasets/ExcelItem_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTAzureSqlParts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/ExcelCross_Reference')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Cross_Reference')]",
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Cross_Reference')]",
				"[concat(variables('factoryId'), '/datasets/Item_Header')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqParts_Item_Header')]",
				"[concat(variables('factoryId'), '/datasets/Parts_Item_Transaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Transaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/ExcelMFG')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlMFG')]",
				"[concat(variables('factoryId'), '/datasets/ExcelDefault_Subinventories')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlSubinventories')]",
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadataItem_category_assignment",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Item_Category_Assignment",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataItem_category_assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataItem_category_assignment').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Category_Assignment'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Item_Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "  truncate table [inventory].[Parts_Item_Category_Assignment]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTAzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy file to processed Category_Assignment",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Category_Assignmentarchive",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Category_Assignmentarchive",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": " @activity('Filter Item_Category_Assignment').output.value[0].name",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"variables": {
					"Parts_Item_Category_Assignment": {
						"type": "String",
						"defaultValue": "Parts_Item_Category_Assignment"
					}
				},
				"folder": {
					"name": "inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelItem_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTAzureSqlParts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/Category_Assignmentarchive')]",
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PART_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PART_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel3",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable4",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel3')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/idl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Inventory_Transactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  [ITEM_NUMBER]\n      ,[ORGANIZATION_CODE]\n      ,[SUBINVENTORY_NAME]\n      ,[TRANSACTION_QUANTITY]\n      ,[TRANSACTION_DATE]\n      ,[TRANSACTION_REFERENCE]\n      ,[LOCATOR_NAME]\n      ,[TRANSACTION_COST]\n      ,[FM_SERIAL_NUMBER]\n      ,[TO_SERIAL_NUMBER]\n      ,[Distribution_Account]\n      ,[ORG_NAME]\n      ,[PE_EXT_ATTRIBUTE1]\n      ,[PE_EXT_ATTRIBUTE2]\n  FROM [inventory].[Parts_Inventory_Transactions]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Buildingsql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtInventory_Transactions",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Item_Category_Assignment",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ITEM_NUMBER]\n      ,[CATEGORY_SET_NAME]\n      ,[CONCAT_CATEGORY_NAME]\n      ,[ORANIZATION_CODE]\n      ,[ORG_NAME]\n  FROM [inventory].[Parts_Item_Category_Assignment]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtCategory_Assignment",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Cross_Reference",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  [ITEM_NUMBER]\n      ,[CROSS_REFERENCE_TYPE]\n      ,[CROSS_REFERENCE]\n      ,[DESCRIPTION]\n      ,[ORGANIZATION_CODE]\n      ,[ORG_NAME]\n  FROM [inventory].[Parts_Item_Cross_Reference]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azuremaintenance",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtCross_Reference",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Item_Header",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT  [ITEM_NUMBER]\n      ,[DESCRIPTION]\n      ,[DESCRIPTION_ESA]\n      ,[ORANIZATION_CODE]\n      ,[TEMPLATE_NAME]\n      ,[LIST_PRICE_PER_UNIT]\n      ,[UOM_CODE]\n      ,[WEIGHT_UOM_CODE]\n      ,[UNIT_WEIGHT]\n      ,[VOLUME_UOM_CODE]\n      ,[UNIT_VOLUME]\n      ,[MIN_MINMAX_QUANTITY]\n      ,[MAX_MINMAX_QUANTITY]\n      ,[FULL_LEAD_TIME]\n      ,[FIXED_LOT_MULTIPLIER]\n      ,[FIXED_ORDER_QUANTITY]\n      ,[MINIMUM_ORDER_QUANTITY]\n      ,[MAXIMUM_ORDER_QUANTITY]\n      ,[LONG_DESCRIPTION]\n      ,[ITEM_INV_APPLICATION]\n      ,[TRANSACTION_CONDITION_CODE]\n      ,[ADJUSTMENT_ACCOUNT]\n      ,[CORRECTION_ACCOUNT]\n      ,[SALES_COST_ACCOUNT]\n      ,[FOUR_DIGIT_CODE]\n      ,[ORG_NAME]\n      ,[PE_EXT_ATTRIBUTE1]\n      ,[PE_EXT_ATTRIBUTE2]\n  FROM [inventory].[Parts_Item_Header]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtItem_Header",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Transaction_Default_Locators",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  [ITEM_NUMBER]\n      ,[ORGANIZATION_CODE]\n      ,[SUBINVENTORY_NAME]\n      ,[LOCATOR_NAME]\n      ,[ORG_NAME]\n  FROM [inventory].[Parts_Item_Transaction_Default_Locators]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Locators",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtTransaction_Default_Locators",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "MFG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  [MANUFACTURER]\n      ,[DESCRIPTION]\n      ,[PART_NUMBER]\n      ,[ITEM_NUMBER]\n      ,[ORG_NAME]\n  FROM [inventory].[Parts_MFG_Part_Number]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlMFG",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtmfg",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Transaction_Default_Subinventories",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [ITEM_NUMBER]\n      ,[ORGANIZATION_CODE]\n      ,[SUBINVENTORY_NAME]\n      ,[ORG_NAME]\n  FROM [inventory].[Parts_Item_Transaction_Default_Subinventories]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dtDefault_Subinventories",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Output/inventory"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dtInventory_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/dtCategory_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/dtCross_Reference')]",
				"[concat(variables('factoryId'), '/datasets/dtItem_Header')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlParts_Item_Transaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/dtTransaction_Default_Locators')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlMFG')]",
				"[concat(variables('factoryId'), '/datasets/dtmfg')]",
				"[concat(variables('factoryId'), '/datasets/dtDefault_Subinventories')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/incrementalload')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookupOldWaterMark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = '@{pipeline().parameters.finalTableName}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlWatermark",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "lookupNewWaterMark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.waterMarkCol}) AS NewwaterMarkVal\nFROM @{pipeline().parameters.srcTableName}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerStudent",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "CopytoStaging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "lookupOldWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "lookupNewWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.srcTableName}\nwhere @{pipeline().parameters.waterMarkCol} > \n'@{activity('lookupOldWaterMark').output.firstRow.waterMarkVal}' \nand @{pipeline().parameters.waterMarkCol} <= \n'@{activity('lookupNewWaterMark').output.firstRow.NewwaterMarkVal}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "--pre copy script for sink\nTRUNCATE TABLE @{pipeline().parameters.stgTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerStudent",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlstgstdent",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "usp_upsert_Student",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopytoStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_upsert_Student]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "usp_write_watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "usp_upsert_Student",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_write_watermark]",
							"storedProcedureParameters": {
								"LastModifiedtime": {
									"value": {
										"value": "@activity('lookupNewWaterMark').output.firstRow.NewwaterMarkVal",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@{pipeline().parameters.finalTableName}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"finalTableName": {
						"type": "string",
						"defaultValue": "Student"
					},
					"srcTableName": {
						"type": "string",
						"defaultValue": "Student"
					},
					"waterMarkCol": {
						"type": "string",
						"defaultValue": "updateDate"
					},
					"stgTableName": {
						"type": "string",
						"defaultValue": "stgStudent"
					},
					"storedProcUpsert": {
						"type": "string",
						"defaultValue": "usp_upsert_Student"
					},
					"storedProcWaterMark": {
						"type": "string",
						"defaultValue": "usp_update_WaterMark"
					}
				},
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlWatermark')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerStudent')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlstgstdent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \nQUOTENAME(table_Schema) + '.' + QUOTENAME(TABLE_NAME) AS Table_Name, TABLE_CATALOG\n   FROM information_Schema.tables\n   WHERE TABLE_TYPE = 'BASE TABLE'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Table_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Table_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TABLE_CATALOG",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TABLE_CATALOG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQLDB_PIPEINE_PARAMETER",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadataItem_category_assignment",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Filter Item_Category_Assignment",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataItem_category_assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataItem_category_assignment').output.childItems\n",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,variables('Parts_Item_Category_Assignment'))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter Item_Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "  truncate table [inventory].[Parts_Item_Category_Assignment]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTAzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy file to processed Category_Assignment",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "\n@activity('Filter Item_Category_Assignment').output.value[0].name",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText10",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete2",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file to processed Category_Assignment",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelItem_Category_Assignment",
								"type": "DatasetReference"
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ADLS2",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": " @activity('Filter Item_Category_Assignment').output.value[0].name",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"variables": {
					"Parts_Item_Category_Assignment": {
						"type": "String",
						"defaultValue": "Parts_Item_Category_Assignment"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelItem_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTAzureSqlParts_Item_Category_Assignment')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText10')]",
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ssis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS package1",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "test/testp/Package1.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "integrationRuntime3",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic"
						}
					}
				],
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqParts_Item_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION_ESA",
						"type": "varchar"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "TEMPLATE_NAME",
						"type": "varchar"
					},
					{
						"name": "LIST_PRICE_PER_UNIT",
						"type": "varchar"
					},
					{
						"name": "UOM_CODE",
						"type": "varchar"
					},
					{
						"name": "WEIGHT_UOM_CODE",
						"type": "varchar"
					},
					{
						"name": "UNIT_WEIGHT",
						"type": "varchar"
					},
					{
						"name": "VOLUME_UOM_CODE",
						"type": "varchar"
					},
					{
						"name": "UNIT_VOLUME",
						"type": "varchar"
					},
					{
						"name": "MIN_MINMAX_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "MAX_MINMAX_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "FULL_LEAD_TIME",
						"type": "varchar"
					},
					{
						"name": "FIXED_LOT_MULTIPLIER",
						"type": "varchar"
					},
					{
						"name": "FIXED_ORDER_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "MINIMUM_ORDER_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "MAXIMUM_ORDER_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "LONG_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "ITEM_INV_APPLICATION",
						"type": "varchar"
					},
					{
						"name": "TRANSACTION_CONDITION_CODE",
						"type": "varchar"
					},
					{
						"name": "ADJUSTMENT_ACCOUNT",
						"type": "varchar"
					},
					{
						"name": "CORRECTION_ACCOUNT",
						"type": "varchar"
					},
					{
						"name": "SALES_COST_ACCOUNT",
						"type": "varchar"
					},
					{
						"name": "FOUR_DIGIT_CODE",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "varchar"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Header"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMFG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PART_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_MFG_Part_Number"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMFG_Part_Number')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PART_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "inventory.[Parts_MFG_Part_Number"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlParts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "CATEGORY_SET_NAME",
						"type": "varchar"
					},
					{
						"name": "CONCAT_CATEGORY_NAME",
						"type": "varchar"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Category_Assignment"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlParts_Item_Cross_Reference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "CROSS_REFERENCE_TYPE",
						"type": "varchar"
					},
					{
						"name": "CROSS_REFERENCE",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Cross_Reference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlParts_Item_Transaction_Default_Locators')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Transaction_Default_Locators"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlParts_Item_Transaction_Default_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Transaction_Default_Subinventories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlSubinventories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Transaction_Default_Subinventories"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTAzureSqlParts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "CATEGORY_SET_NAME",
						"type": "varchar"
					},
					{
						"name": "CONCAT_CATEGORY_NAME",
						"type": "varchar"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Item_Category_Assignment"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase5",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "buildingCode",
						"type": "nvarchar"
					},
					{
						"name": "Data",
						"type": "nvarchar"
					},
					{
						"name": "HashKey",
						"type": "varbinary"
					},
					{
						"name": "ETL_Load_Date_Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Inventory_Transactions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PART_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "inventory.[Parts_MFG_Part_Number"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlWatermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "training"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "tableName",
						"type": "varchar"
					},
					{
						"name": "waterMarkVal",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "WaterMark"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqldemomfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PART_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_MFG_Part_Number"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlstgstdent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "studentId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "studentName",
						"type": "varchar"
					},
					{
						"name": "stream",
						"type": "varchar"
					},
					{
						"name": "marks",
						"type": "int",
						"precision": 10
					},
					{
						"name": "createDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "updateDate",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stgStudent"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azuresqlnventory_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "varchar"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "varchar"
					},
					{
						"name": "TRANSACTION_QUANTITY",
						"type": "varchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "varchar"
					},
					{
						"name": "TRANSACTION_REFERENCE",
						"type": "varchar"
					},
					{
						"name": "LOCATOR_NAME",
						"type": "varchar"
					},
					{
						"name": "TRANSACTION_COST",
						"type": "varchar"
					},
					{
						"name": "FM_SERIAL_NUMBER",
						"type": "varchar"
					},
					{
						"name": "TO_SERIAL_NUMBER",
						"type": "varchar"
					},
					{
						"name": "Distribution_Account",
						"type": "varchar"
					},
					{
						"name": "ORG_NAME",
						"type": "varchar"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "varchar"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "inventory",
					"table": "Parts_Inventory_Transactions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Category_Assignmentarchive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "archives"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQLDB_PIPEINE_PARAMETER1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdventureWorksDW2019",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "training"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Table_Name",
						"type": "nvarchar"
					},
					{
						"name": "TABLE_CATALOG",
						"type": "nvarchar"
					},
					{
						"name": "process_type",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "pipeline_parameter"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedItem_Transaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "LOCATOR_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedParts_Item_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "DESCRIPTION_ESA",
						"type": "String"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "TEMPLATE_NAME",
						"type": "String"
					},
					{
						"name": "LIST_PRICE_PER_UNIT",
						"type": "String"
					},
					{
						"name": "UOM_CODE",
						"type": "String"
					},
					{
						"name": "WEIGHT_UOM_CODE",
						"type": "String"
					},
					{
						"name": "UNIT_WEIGHT",
						"type": "String"
					},
					{
						"name": "VOLUME_UOM_CODE",
						"type": "String"
					},
					{
						"name": "UNIT_VOLUME",
						"type": "String"
					},
					{
						"name": "MIN_MINMAX_QUANTITY",
						"type": "String"
					},
					{
						"name": "MAX_MINMAX_QUANTITY",
						"type": "String"
					},
					{
						"name": "FULL_LEAD_TIME",
						"type": "String"
					},
					{
						"name": "FIXED_LOT_MULTIPLIER",
						"type": "String"
					},
					{
						"name": "FIXED_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "MINIMUM_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "MAXIMUM_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "LONG_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "ITEM_INV_APPLICATION",
						"type": "String"
					},
					{
						"name": "TRANSACTION_CONDITION_CODE",
						"type": "String"
					},
					{
						"name": "ADJUSTMENT_ACCOUNT",
						"type": "String"
					},
					{
						"name": "CORRECTION_ACCOUNT",
						"type": "String"
					},
					{
						"name": "SALES_COST_ACCOUNT",
						"type": "String"
					},
					{
						"name": "FOUR_DIGIT_CODE",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedTParts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER,CATEGORY_SET_NAME,CONCAT_CATEGORY_NAME,ORANIZATION_CODE,ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedTexParts_Inventory_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "TRANSACTION_QUANTITY",
						"type": "String"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "String"
					},
					{
						"name": "TRANSACTION_REFERENCE",
						"type": "String"
					},
					{
						"name": "LOCATOR_NAME",
						"type": "String"
					},
					{
						"name": "TRANSACTION_COST",
						"type": "String"
					},
					{
						"name": "FM_SERIAL_NUMBER",
						"type": "String"
					},
					{
						"name": "TO_SERIAL_NUMBER",
						"type": "String"
					},
					{
						"name": "Distribution_Account",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedTex_Transaction_Default')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "archives"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Parts_MFG_Part_Number_20210105151636 (1).xlsx",
						"fileSystem": "inventory"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delimitedmfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_MFG_Part_Number_20210105151636 (1).xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TRANSACTIONS",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "transaction",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel5demoMFG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "MFG",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelCross_Reference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Cross_Reference",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelDefault_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Transaction_Default_Subinventories",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelItem_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "categoryassignment",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "CATEGORY_SET_NAME",
						"type": "String"
					},
					{
						"name": "CONCAT_CATEGORY_NAME",
						"type": "String"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelMFG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "MFG",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Item_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Item_Header",
						"fileSystem": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MFG_Part_Number')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_MFG_Part_Number_20210105151636 (1).xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					},
					"tablecatalogname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "address"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Inventorytransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "TRANSACTIONS",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_Inventory_Transactions_20210105151858.xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "TRANSACTION_QUANTITY",
						"type": "String"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "String"
					},
					{
						"name": "TRANSACTION_REFERENCE",
						"type": "String"
					},
					{
						"name": "LOCATOR_NAME",
						"type": "String"
					},
					{
						"name": "TRANSACTION_COST",
						"type": "String"
					},
					{
						"name": "FM_SERIAL_NUMBER",
						"type": "String"
					},
					{
						"name": "TO_SERIAL_NUMBER",
						"type": "String"
					},
					{
						"name": "Distribution_Account",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_Item_Category_Assignment_20210105151430.xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Cross_Reference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_Item_Cross_Reference_20210105151523.xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "CROSS_REFERENCE_TYPE",
						"type": "String"
					},
					{
						"name": "CROSS_REFERENCE",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_Item_Header_20210105151306.xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "DESCRIPTION_ESA",
						"type": "String"
					},
					{
						"name": "ORANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "TEMPLATE_NAME",
						"type": "String"
					},
					{
						"name": "LIST_PRICE_PER_UNIT",
						"type": "String"
					},
					{
						"name": "UOM_CODE",
						"type": "String"
					},
					{
						"name": "WEIGHT_UOM_CODE",
						"type": "String"
					},
					{
						"name": "UNIT_WEIGHT",
						"type": "String"
					},
					{
						"name": "VOLUME_UOM_CODE",
						"type": "String"
					},
					{
						"name": "UNIT_VOLUME",
						"type": "String"
					},
					{
						"name": "MIN_MINMAX_QUANTITY",
						"type": "String"
					},
					{
						"name": "MAX_MINMAX_QUANTITY",
						"type": "String"
					},
					{
						"name": "FULL_LEAD_TIME",
						"type": "String"
					},
					{
						"name": "FIXED_LOT_MULTIPLIER",
						"type": "String"
					},
					{
						"name": "FIXED_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "MINIMUM_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "MAXIMUM_ORDER_QUANTITY",
						"type": "String"
					},
					{
						"name": "LONG_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "ITEM_INV_APPLICATION",
						"type": "String"
					},
					{
						"name": "TRANSACTION_CONDITION_CODE",
						"type": "String"
					},
					{
						"name": "ADJUSTMENT_ACCOUNT",
						"type": "String"
					},
					{
						"name": "CORRECTION_ACCOUNT",
						"type": "String"
					},
					{
						"name": "SALES_COST_ACCOUNT",
						"type": "String"
					},
					{
						"name": "FOUR_DIGIT_CODE",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE1",
						"type": "String"
					},
					{
						"name": "PE_EXT_ATTRIBUTE2",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Transaction_Default_Locators')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Transaction_Default_Locators",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "LOCATOR_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Transaction_Default_Subinv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Transaction_Default_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Parts_Item_Transaction_Default_Subinventories_20210105151805.xlsx",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_CODE",
						"type": "String"
					},
					{
						"name": "SUBINVENTORY_NAME",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerStudent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerTestStudent",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "training"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "studentId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "studentName",
						"type": "varchar"
					},
					{
						"name": "stream",
						"type": "varchar"
					},
					{
						"name": "marks",
						"type": "int",
						"precision": 10
					},
					{
						"name": "createDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "updateDate",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Student"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adventre')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AdventureWorksDW2019",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "training"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demomfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "MFG",
						"container": "inventory"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "MANUFACTURER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					},
					{
						"name": "PART_NUMBER",
						"type": "String"
					},
					{
						"name": "ITEM_NUMBER",
						"type": "String"
					},
					{
						"name": "ORG_NAME",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsADLS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"table_catalog_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "training"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "\n@{item().Table_Name}/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'dd')}/@{item().Table_Name}@{formatDateTime(utcnow(),'HH')}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('lake/raw/on_prem2/',dataset().table_catalog_name)",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtCategory_Assignment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtCross_Reference')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtDefault_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtInventory_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtItem_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtTransaction_Default_Locators')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dtmfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Pipe",
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://mohamedstorage.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsadve2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://mohamedstoragelake.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		}
	]
}