mohamedAD1/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mohamedAD1"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'"
		},
		"SqlServerTestStudent_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerTestStudent'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTestStudent')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerTestStudent_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Addressidl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT \n      [Customer Name]\n\t   ,[Customer Header Reference]\n      ,[Address Reference]\n      ,[Site Use Code]\n      ,[Primary Site Use Flag]\n      ,[ Location]\n      ,[Bill To Orig Address Reference]\n      ,'' as [Address Line 1]\n      ,'' as[Address Line 2]\n      ,'' as [Address Line 3]\n      ,'' as [Address Line 4]\n      ,'' as [Address Lines Phonetic]\n      ,[City]\n      ,[Province]\n      ,[State]\n      ,[County]\n      ,[Postal Code]\n      ,[Country]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000.901745' as [Receivables Account]\n      ,'XXXXXX.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Revenue Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Tax Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Freight Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Clearing Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Unbilled Receivables Account]\n      ,'XXXXXX.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Unearned Revenue Account]\n      ,[Payment Method Name]\n      ,[Payment Method Primary Flag]\n      ,[Customer Profile]\n      ,[Site Use Tax Reference]\n      ,[Time Zone]\n      ,[Language]\n      ,[Contributor Class at Account Site]\n      ,[Use Cust Site Profile Flag at Account Site]\n      ,[Contributor Class at Account Site Use]\n      ,[Use Cust Site Profile Flag at Account Site Use]\n      ,[Economic Activity]\n      ,[Payment Term Name]\n      ,[Concept Code (CR)]\n      ,[Giro (CL)]\n      ,[US Remit-to Address Mapping]\n      ,[US Tax Area Id]\n      ,[Union Local]\n      ,[TAID User Override]\n      ,[TAID Last Checked]\n      ,[TAID Assignment Result]\n      ,[TAID Confidence Indicator]\n      ,[TAID Precision]\n      ,[CRM Account]\n\t   ,[Operating Unit Name]\n     \n  FROM [dbo].[address]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Use Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Site Use Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Primary Site Use Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Primary Site Use Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": " Location",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": " Location",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Bill To Orig Address Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Bill To Orig Address Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Lines Phonetic",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Lines Phonetic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Receivables Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Receivables Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Revenue Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Revenue Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tax Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tax Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Freight Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Freight Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Clearing Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Clearing Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unbilled Receivables Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unbilled Receivables Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unearned Revenue Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unearned Revenue Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Method Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Method Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Method Primary Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Method Primary Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Profile",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Profile",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Use Tax Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Site Use Tax Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Time Zone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Time Zone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Language",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Language",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contributor Class at Account Site",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contributor Class at Account Site",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Use Cust Site Profile Flag at Account Site",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Use Cust Site Profile Flag at Account Site",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contributor Class at Account Site Use",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contributor Class at Account Site Use",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Use Cust Site Profile Flag at Account Site Use",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Use Cust Site Profile Flag at Account Site Use",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Economic Activity",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Economic Activity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Term Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Term Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Concept Code (CR)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Concept Code (CR)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Giro (CL)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Giro (CL)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "US Remit-to Address Mapping",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "US Remit-to Address Mapping",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "US Tax Area Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "US Tax Area Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Union Local",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Union Local",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID User Override",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID User Override",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Last Checked",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Last Checked",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Assignment Result",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Assignment Result",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Confidence Indicator",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Confidence Indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Precision",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Precision",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CRM Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CRM Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Operating Unit Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Operating Unit Name",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Delimitedaddressidl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Output"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Building')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Building_ExternalBuildingId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ExternalBuildingId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingName_local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingName_local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingName_en",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingName_en",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Height",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Height",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_StreetAddress_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_StreetAddress_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_StreetAddress_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_StreetAddress_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Suburb_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Suburb_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Suburb_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Suburb_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_City_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_City_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_City_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_City_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Postcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsStandbybuilding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsStandbybuilding",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_CostingNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_CostingNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_CustomerNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_CustomerNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SumOfTotalUnits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SumOfTotalUnits",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SumOfUnitsInService",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SumOfUnitsInService",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_QuickTurnover",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_QuickTurnover",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Latitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Longitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerEmployeeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerEmployeeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerEmployeeExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerEmployeeExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsRepairCorres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsRepairCorres",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCalendar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCalendar",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsGeneralCorres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsGeneralCorres",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCard",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCard",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsMonthlyReport",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsMonthlyReport",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleHours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleHours",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleHoursViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleHoursViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleTime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleTime",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleTimeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleTimeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDay",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDayViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDayViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDayFrequency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDayFrequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TargetCallRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TargetCallRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_RunInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_RunInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunTypeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunTypeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHSWPResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHSWPResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHStopResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHStopResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHOthersResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHOthersResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHSWPResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHSWPResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHStopResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHStopResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHOthersResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHOthersResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_Notes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_Notes",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_PropertyManagerEmployeeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_PropertyManagerEmployeeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_PropertyManagerEmployeeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_PropertyManagerEmployeeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BusinessHourContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BusinessHourContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHSiteContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHSiteContact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactLocation_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactLocation_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactLocation_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactLocation_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactPhone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactPhone2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactPhone2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactMobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactMobile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactFax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactFax",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactRoleViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactRoleViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactRoleName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactRoleName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_AfterHourContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_AfterHourContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHSiteContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHSiteContact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactLocation_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactLocation_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactLocation_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactLocation_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactPhone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactMobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactMobile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactFax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactFax",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactRoleViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactRoleViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactRoleViewName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactRoleViewName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactAccessCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactAccessCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BuildingContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BuildingContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_IsBusinessHours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_IsBusinessHours",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerMail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerMail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMMailTemplateSubject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMMailTemplateSubject",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMMailTemplateContent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMMailTemplateContent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCustomisedMail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCustomisedMail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportFrequencyViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportFrequencyViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportFrequency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportFrequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsReportInvoice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsReportInvoice",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportSendTo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportSendTo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportAuditRequired",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportAuditRequired",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportAuditDetail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportAuditDetail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportServiceDockets",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportServiceDockets",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_FromProjectId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_FromProjectId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_FromProjectLabel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_FromProjectLabel",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BuildingCustomerInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BuildingCustomerInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State_ViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_ViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Builiding_TimeZone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Builiding_TimeZone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Builiding_CustomerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Builiding_CustomerCode",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Buildingsql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "CustomerOKH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Salesforce_Inbound_withDateFilter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ETL].[usp_ADF_Get_ADFControl_NextExtract]",
								"storedProcedureParameters": {
									"CoreFileName": {
										"type": "String",
										"value": "[[building].[Viewbuilding_API_add]"
									},
									"DataSource": {
										"type": "String",
										"value": "Azuremaintenance"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Azuremaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SetLastExtractStart",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[usp_ADF_Set_ADFControl]",
							"storedProcedureParameters": {
								"CoreFileName": {
									"value": "[[building].[Viewbuilding_API_add]",
									"type": "String"
								},
								"DataSource": {
									"value": "Azuremaintenance",
									"type": "String"
								},
								"ExtractDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"UpdateActionType": {
									"value": "S",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"description": "Pull SFDC AccountPartner to TXT files in Azure Blob Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetLastExtractStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "\n\nSELECT [ETL_Load_Date_Time]  FROM [building].[Viewbuilding_API_add] WHERE SYSDATETIMEOFFSET()>= @{formatDateTime(activity('lookup1').output.firstRow.NextExtractStartDateTime,'yyyy-MM-ddTHH:mm:ssZ')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Viewbuilding_API_addtest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastExtractStart",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[usp_ADF_Get_ADFControl_NextExtract]",
							"storedProcedureParameters": {
								"CoreFileName": {
									"value": "[[building].[Viewbuilding_API_add]",
									"type": "String"
								},
								"DataSource": {
									"value": "sfdv",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"actualRunTime": {
						"type": "string",
						"defaultValue": "2018-02-26 10:09:08"
					}
				},
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_s88')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_s88",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles//"
							},
							{
								"name": "Destination",
								"value": "dbo.topmovies"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Index",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "MovieTitle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MovieTitle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_s88",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_s88",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerAddress')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Site_Use_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Use_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_Site_Use_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Site_Use_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Location",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Bill_To_Orig_Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bill_To_Orig_Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Lines_Phonetic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Lines_Phonetic",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Postal_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Receivables_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Receivables_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Revenue_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Revenue_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tax_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tax_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Freight_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Freight_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Clearing_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Clearing_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unbilled_Receivables_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unbilled_Receivables_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unearned_Revenue_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unearned_Revenue_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Site_Use_Tax_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Use_Tax_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Time_Zone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Time_Zone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Language",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Language",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contributor_Class_at_Account_Site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contributor_Class_at_Account_Site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contributor_Class_at_Account_Site_Use",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contributor_Class_at_Account_Site_Use",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site_Use",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site_Use",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Economic_Activity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Economic_Activity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Concept_Code_(CR)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Concept_Code_(CR)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Giro_(CL)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Giro_(CL)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "US_Remit-to_Address_Mapping",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "US_Remit-to_Address_Mapping",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "US_Tax_Area_Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "US_Tax_Area_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Union_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Union_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_User_Override",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_User_Override",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Last_Checked",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Last_Checked",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Assignment_Result",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Assignment_Result",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Confidence_Indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Confidence_Indicator",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Precision",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Precision",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CRM_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRM_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCustomerAddress",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "CustomerOKH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerBillToContactsiidl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT  \n      [Customer_Header_Reference] as [Customer Header Reference]\n      ,[Address_Reference]\n      --,[Phone_Country_Code]\n      --,[Phone_Extension]\n      ,[Contact_Reference]\n      ,[Contact_Point Reference]\n      ,[Contact_First_Name]\n      ,[Contact_Last_Name]\n      ,[Contact Point_Type]\n      ,[Area_Code]\n      ,[Telephone_Number]\n\t  ,CASE COALESCE([Phone_Extension],'')  when ''  then '' else [Phone_Extension] end as [Phone_Extension]\n      ,[EMAIL_Address]\n      ,[Invoice_Delivery_Method]\n       ,[Operating_Unit_Name]\n  FROM [customer].[CustomerBillToContacts]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "Contact_Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Contact_Point Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "Contact_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "Contact_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "Contact Point_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "Area_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "Telephone_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "EMAIL_Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "Invoice_Delivery_Method",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlCustomerBillToContactsidl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerBillToContactscsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Output"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerContactPoint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCustomerContactPoints",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerContactPointssql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "CustomerOKH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerContactPointsidl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT  \n      [Customer_Header_Reference] as [Customer Header Reference]\n      ,[Address_Reference]\n      ,[Contact_Point_Type]\n      ,[Contact_Point_Status]\n      ,[Primary_Flag]\n      ,[Contact_Point_Purpose]\n      ,[Phone_Country_Code]\n      ,[Phone_Area_Code]\n      ,[Phone_Number]\n        ,CASE COALESCE([Phone_Extension],'')  when ''  then '' else [Phone_Extension] end as [Phone_Extension]\n      ,[Phone_Line_Type]\n      ,[Email_Address]\n      ,[Email_Format]\n\t , [Operating_Unit_Name]\n  FROM [customer].[CustomerContactPoints]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CustomerContactPointsidl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Output"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerHeader')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Header",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Party_Reference_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Party_Reference_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Account_Reference_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Account_Reference_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Global_Customer_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Global_Customer_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Origin_(AR)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Origin_(AR)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_ID_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_ID_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_ID_Validation_Digit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_ID_Validation_Digit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Taxpayer_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Taxpayer_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Fiscal_Classification_Type_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fiscal_Classification_Type_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Fiscal_Classification_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fiscal_Classification_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Effective_Date_From",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Effective_Date_From",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Document_Type_(CO)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Document_Type_(CO)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Taxpayer_ID_(CO)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Taxpayer_ID_(CO)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nature_(CO)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nature_(CO)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Regimen_(CO)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Regimen_(CO)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Special_Customer_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Special_Customer_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Class_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Class_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Order_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Register_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Register_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Document_Type_(SV)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Document_Type_(SV)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contributor_Registry_Number_(SV)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contributor_Registry_Number_(SV)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Person_Category_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Person_Category_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Person_Type_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Person_Type_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Document_Type_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Document_Type_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Document_Number_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Document_Number_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Last_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Last_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Second_Last_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Second_Last_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "First_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Middle_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Middle_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Origin",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nature",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nature",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Document_Type_(UY)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Document_Type_(UY)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Perception_Agent_(PE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Perception_Agent_(PE)",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excelheader",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTCustomerHeader",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "customercontactpoint",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point_Purpose",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Area_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Line_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email_Format",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCustomerContactPoints",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerContactPointssql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "customeraddress",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "customercontactpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Site_Use_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Use_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Primary_Site_Use_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_Site_Use_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Location",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Bill_To_Orig_Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bill_To_Orig_Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Line_4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Line_4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Lines_Phonetic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Lines_Phonetic",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Postal_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Receivables_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Receivables_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Revenue_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Revenue_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tax_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tax_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Freight_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Freight_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Clearing_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Clearing_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unbilled_Receivables_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unbilled_Receivables_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unearned_Revenue_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unearned_Revenue_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Site_Use_Tax_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Use_Tax_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Time_Zone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Time_Zone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Language",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Language",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contributor_Class_at_Account_Site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contributor_Class_at_Account_Site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contributor_Class_at_Account_Site_Use",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contributor_Class_at_Account_Site_Use",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site_Use",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Use_Cust_Site_Profile_Flag_at_Account_Site_Use",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Economic_Activity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Economic_Activity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Concept_Code_(CR)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Concept_Code_(CR)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Giro_(CL)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Giro_(CL)",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "US_Remit-to_Address_Mapping",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "US_Remit-to_Address_Mapping",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "US_Tax_Area_Id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "US_Tax_Area_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Union_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Union_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_User_Override",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_User_Override",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Last_Checked",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Last_Checked",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Assignment_Result",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Assignment_Result",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Confidence_Indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Confidence_Indicator",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TAID_Precision",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TAID_Precision",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CRM_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRM_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCustomerAddress",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "customerbilltocontact",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "customeraddress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Header_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Country_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone_Extension",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Point Reference",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Point Reference",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_First_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact_Last_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Contact Point_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact Point_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Area_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Telephone_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Telephone_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EMAIL_Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EMAIL_Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Invoice_Delivery_Method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_Delivery_Method",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelCustomerBillToContacts",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerBillToContactssql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "customerdependency",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "customerbilltocontact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[customer].[dependency]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "CustomerOKH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Header_idl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT  [Customer_Name]\n      ,[Customer_Party_Reference_Number]\n      ,[Customer_Account_Reference_Number]\n      ,[Customer_Type]\n      ,[Customer_Profile]\n      ,'' as [Payment_Method_Name]\n      ,'' as [Payment_Method_Primary_Flag]\n      ,[Global_Customer_Flag]\n      ,'' as [Origin_(AR)]\n      ,'' as [Primary_ID_Type]\n      ,'' as [Primary_ID_Validation_Digit]\n      ,'' as [Taxpayer_ID]\n      ,'' as [Fiscal_Classification_Type_Code]\n      ,'' as [Fiscal_Classification_Code]\n      ,'' as [Effective_Date_From]\n      ,'' as [Document_Type_(CO)]\n      ,'' as [Taxpayer_ID_(CO)]\n      , '' as [Nature_(CO)]\n      ,'' as [Regimen_(CO)]\n      ,'' as [Special_Customer_Flag]\n      ,[Operating_Unit_Name]\n      ,'' as [Customer_Class_Code]\n      ,[Payment_Term_Name]\n      ,'' as [Order_Number_of_the_Cedula_(GT)]\n      ,'' as [Register_Number_of_the_Cedula_(GT)]\n      ,'' as [Document_Type_(SV)]\n      ,'' as [Contributor_Registry_Number_(SV)]\n      ,'' as [Person_Category_(PE)]\n      ,'' as [Person_Type_(PE)]\n      ,'' as [Document_Type_(PE)]\n      ,'' as [Document_Number_(PE)]\n      ,'' as [Last_Name_(PE)]\n      ,'' as [Second_Last_Name_(PE)]\n      ,'' as [First_Name_(PE)]\n      ,'' as [Middle_Name_(PE)]\n      ,'' as [Origin]\n      ,'' as [Nature]\n      ,'' as [Document_Type_(UY)]\n      ,'' as [Perception_Agent_(PE)]\n  FROM [customer].[header]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Party_Reference_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Party_Reference_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Account_Reference_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Account_Reference_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Profile",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment_Method_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment_Method_Primary_Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Global_Customer_Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Global_Customer_Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Origin_(AR)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Origin_(AR)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Primary_ID_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Primary_ID_Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Primary_ID_Validation_Digit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Primary_ID_Validation_Digit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Taxpayer_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Taxpayer_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fiscal_Classification_Type_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Fiscal_Classification_Type_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Fiscal_Classification_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Fiscal_Classification_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Effective_Date_From",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Effective_Date_From",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Document_Type_(CO)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Document_Type_(CO)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Taxpayer_ID_(CO)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Taxpayer_ID_(CO)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nature_(CO)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nature_(CO)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Regimen_(CO)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Regimen_(CO)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Special_Customer_Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Special_Customer_Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Operating_Unit_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Class_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer_Class_Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment_Term_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Order_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Order_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Register_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Register_Number_of_the_Cedula_(GT)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Document_Type_(SV)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Document_Type_(SV)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contributor_Registry_Number_(SV)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contributor_Registry_Number_(SV)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Person_Category_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Person_Category_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Person_Type_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Person_Type_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Document_Type_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Document_Type_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Document_Number_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Document_Number_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Last_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Last_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Second_Last_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Second_Last_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "First_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "First_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Middle_Name_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Middle_Name_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Origin",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Origin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Nature",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nature",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Document_Type_(UY)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Document_Type_(UY)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Perception_Agent_(PE)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Perception_Agent_(PE)",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Output"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inventory_Transactions_')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Inventorytransactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Azuresqlnventory_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Item_Transactiono')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Locators",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedItem_Transaction",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MFG_Part_Number')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MFG_Part_Number",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlMFG_Part_Number",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Inventory_Transactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_REFERENCE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCATOR_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_COST",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FM_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TO_SERIAL_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Distribution_Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PE_EXT_ATTRIBUTE2",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Azuresqlnventory_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedTexParts_Inventory_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_ItemTransaction_Default_Subinventories')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Transaction_Default_Subinventories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Transaction_Default_Subinventories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Category_Assignment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Category_Assignment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Category_Assignmentout')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CATEGORY_SET_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONCAT_CATEGORY_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlParts_Item_Category_Assignment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedTParts_Item_Category_Assignment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parts_Item_Cross_Reference')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CROSS_REFERENCE_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CROSS_REFERENCE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CROSS_REFERENCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CROSS_REFERENCE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORG_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Parts_Item_Cross_Reference",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlParts_Item_Cross_Reference",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "ingest/inventory"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}