mohamedAD1/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mohamedAD1"
		},
		"AdventureWorksDW2019_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AdventureWorksDW2019'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'"
		},
		"SqlServerTestStudent_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerTestStudent'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dttransaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemInventoryTransactions', '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemInventoryTransactions')",
							"type": "Expression"
						},
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flattenedbuilding')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lBANK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Identification FK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitId FK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ElevatorBank_ViewID",
						"type": "varchar"
					},
					{
						"name": "ElevatorBank_ExternalID",
						"type": "varchar"
					},
					{
						"name": "ElevatorBank_BankName",
						"type": "varchar"
					},
					{
						"name": "ElevatorBank_AccessCode",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "unit",
					"table": "BANK"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/maintenance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UnitId FK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Array_MaintenanceRun",
						"type": "varchar"
					},
					{
						"name": "MaintenanceRun_RouteNo_TerritoryCode",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "unit",
					"table": "maintenance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mfg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','MFGPartNumber', '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','MFGPartNumber')",
							"type": "Expression"
						},
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/office')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UnitId FK",
						"type": "varchar"
					},
					{
						"name": "identification Id FK",
						"type": "varchar"
					},
					{
						"name": "Branch_ViewID",
						"type": "varchar"
					},
					{
						"name": "BranchName1",
						"type": "varchar"
					},
					{
						"name": "BranchName2",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "unit",
					"table": "office"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/spBuildingToJson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlManufacturer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "UnitId FK",
						"type": "varchar"
					},
					{
						"name": "Equipment Id FK",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Manufacturer_VIEWId",
						"type": "varchar"
					},
					{
						"name": "Manufacturer_ExternalID",
						"type": "varchar"
					},
					{
						"name": "Manufacturer_Name1",
						"type": "varchar"
					},
					{
						"name": "Manufacturer_Name2",
						"type": "varchar"
					},
					{
						"name": "AfterHoursCallbackRun_ExternalID",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "unit",
					"table": "Manufacturer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlbuilding')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Building_ExternalBuildingId",
						"type": "varchar"
					},
					{
						"name": "Building_BuildingName_local",
						"type": "varchar"
					},
					{
						"name": "Building_BuildingName_en",
						"type": "varchar"
					},
					{
						"name": "Building_Height",
						"type": "varchar"
					},
					{
						"name": "Building_StreetAddress_En",
						"type": "varchar"
					},
					{
						"name": "Building_StreetAddress_Local",
						"type": "varchar"
					},
					{
						"name": "Building_Suburb_En",
						"type": "varchar"
					},
					{
						"name": "Building_Suburb_Local",
						"type": "varchar"
					},
					{
						"name": "Building_City_En",
						"type": "varchar"
					},
					{
						"name": "Building_City_Local",
						"type": "varchar"
					},
					{
						"name": "Building_Postcode",
						"type": "varchar"
					},
					{
						"name": "Building_MainTypeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_MainTypeName_En",
						"type": "varchar"
					},
					{
						"name": "Building_MainTypeName_Local",
						"type": "varchar"
					},
					{
						"name": "Building_SubTypeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_SubTypeName_En",
						"type": "varchar"
					},
					{
						"name": "Building_SubTypeName_Local",
						"type": "varchar"
					},
					{
						"name": "Building_BuildingNo",
						"type": "varchar"
					},
					{
						"name": "Building_IsStandbybuilding",
						"type": "varchar"
					},
					{
						"name": "Building_CostingNo",
						"type": "varchar"
					},
					{
						"name": "Building_CustomerNo",
						"type": "varchar"
					},
					{
						"name": "Building_SumOfTotalUnits",
						"type": "varchar"
					},
					{
						"name": "Building_SumOfUnitsInService",
						"type": "varchar"
					},
					{
						"name": "Building_QuickTurnover",
						"type": "varchar"
					},
					{
						"name": "Building_Latitude",
						"type": "varchar"
					},
					{
						"name": "Building_Longitude",
						"type": "varchar"
					},
					{
						"name": "Building_OfficeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_OfficeName_En",
						"type": "varchar"
					},
					{
						"name": "Building_OfficeName_Local",
						"type": "varchar"
					},
					{
						"name": "Building_TKManagerEmployeeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_TKManagerEmployeeExternalId",
						"type": "varchar"
					},
					{
						"name": "Building_TKManagerName",
						"type": "varchar"
					},
					{
						"name": "Building_IsRepairCorres",
						"type": "varchar"
					},
					{
						"name": "Building_IsCalendar",
						"type": "varchar"
					},
					{
						"name": "Building_IsGeneralCorres",
						"type": "varchar"
					},
					{
						"name": "Building_IsCard",
						"type": "varchar"
					},
					{
						"name": "Building_IsMonthlyReport",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleHours",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleHoursViewId",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleTime",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleTimeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleDay",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleDayViewId",
						"type": "varchar"
					},
					{
						"name": "Building_UnitsScheduleDayFrequency",
						"type": "varchar"
					},
					{
						"name": "Building_TargetCallRate",
						"type": "varchar"
					},
					{
						"name": "Array_RunInfo",
						"type": "varchar"
					},
					{
						"name": "RunInfo_RunTypeViewId",
						"type": "varchar"
					},
					{
						"name": "RunInfo_RunTypeName",
						"type": "varchar"
					},
					{
						"name": "RunInfo_RunViewId",
						"type": "varchar"
					},
					{
						"name": "RunInfo_RunName",
						"type": "varchar"
					},
					{
						"name": "RunInfo_BHSWPResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_BHStopResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_BHOthersResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_AHSWPResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_AHStopResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_AHOthersResponse",
						"type": "varchar"
					},
					{
						"name": "RunInfo_Notes",
						"type": "varchar"
					},
					{
						"name": "RunInfo_PropertyManagerEmployeeViewId",
						"type": "varchar"
					},
					{
						"name": "RunInfo_PropertyManagerEmployeeName",
						"type": "varchar"
					},
					{
						"name": "Array_BusinessHourContactInfo",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHSiteContact",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactLocation_En",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactLocation_Local",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactPhone1",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactPhone2",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactMobile",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactFax",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactRoleViewId",
						"type": "varchar"
					},
					{
						"name": "BusinessHourContactInfo_BHContactRoleName",
						"type": "varchar"
					},
					{
						"name": "Array_AfterHourContactInfo",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHSiteContact",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactLocation_En",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactLocation_Local",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactPhone1",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactMobile",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactFax",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactRoleViewId",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactRoleViewName",
						"type": "varchar"
					},
					{
						"name": "AfterHourContactInfo_AHContactAccessCode",
						"type": "varchar"
					},
					{
						"name": "Array_BuildingContactInfo",
						"type": "varchar"
					},
					{
						"name": "BuildingContactInfo_ContactViewId",
						"type": "varchar"
					},
					{
						"name": "BuildingContactInfo_ContactExternalId",
						"type": "varchar"
					},
					{
						"name": "BuildingContactInfo_ContactName",
						"type": "varchar"
					},
					{
						"name": "BuildingContactInfo_IsBusinessHours",
						"type": "varchar"
					},
					{
						"name": "Building_VFMCustomerName_En",
						"type": "varchar"
					},
					{
						"name": "Building_VFMCustomerName_Local",
						"type": "varchar"
					},
					{
						"name": "Building_VFMCustomerMail",
						"type": "varchar"
					},
					{
						"name": "Building_VFMMailTemplateSubject",
						"type": "varchar"
					},
					{
						"name": "Building_VFMMailTemplateContent",
						"type": "varchar"
					},
					{
						"name": "Building_IsCustomisedMail",
						"type": "varchar"
					},
					{
						"name": "Building_ReportFrequencyViewId",
						"type": "varchar"
					},
					{
						"name": "Building_ReportFrequency",
						"type": "varchar"
					},
					{
						"name": "Building_ReportTypeViewId",
						"type": "varchar"
					},
					{
						"name": "Building_ReportType",
						"type": "varchar"
					},
					{
						"name": "Building_IsReportInvoice",
						"type": "varchar"
					},
					{
						"name": "Building_ReportSendTo",
						"type": "varchar"
					},
					{
						"name": "Building_ReportAuditRequired",
						"type": "varchar"
					},
					{
						"name": "Building_ReportAuditDetail",
						"type": "varchar"
					},
					{
						"name": "Building_ReportServiceDockets",
						"type": "varchar"
					},
					{
						"name": "Building_FromProjectId",
						"type": "varchar"
					},
					{
						"name": "Building_FromProjectLabel",
						"type": "varchar"
					},
					{
						"name": "Array_BuildingCustomerInfo",
						"type": "varchar"
					},
					{
						"name": "BuildingCustomerInfo_CustomerViewId",
						"type": "varchar"
					},
					{
						"name": "BuildingCustomerInfo_CustomerExternalId",
						"type": "varchar"
					},
					{
						"name": "BuildingCustomerInfo_CustomerName",
						"type": "varchar"
					},
					{
						"name": "Array_State",
						"type": "varchar"
					},
					{
						"name": "State_ViewId",
						"type": "varchar"
					},
					{
						"name": "State_Name",
						"type": "varchar"
					},
					{
						"name": "Builiding_TimeZone",
						"type": "varchar"
					},
					{
						"name": "Builiding_CustomerCode",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "customer",
					"table": "Building"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stgunit')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "unit stg"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tem_Headerpipe')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemHeaders', '.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemHeaders')",
							"type": "Expression"
						},
						"container": "inventoryoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tem_HeaderpipeDelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemHeaders', '.txt')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemHeaders')",
							"type": "Expression"
						},
						"container": "inventorydelimiter"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactionDelimited')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ABLBMohamedBlob2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemInventoryTransactions', '.txt')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_CD01_','ItemInventoryTransactions')",
							"type": "Expression"
						},
						"container": "inventorydelimiter"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureWorksDW2019')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AdventureWorksDW2019_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTestStudent')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerTestStudent_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Addressidl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT \n      [Customer Name]\n\t   ,[Customer Header Reference]\n      ,[Address Reference]\n      ,[Site Use Code]\n      ,[Primary Site Use Flag]\n      ,[ Location]\n      ,[Bill To Orig Address Reference]\n      ,'' as [Address Line 1]\n      ,'' as[Address Line 2]\n      ,'' as [Address Line 3]\n      ,'' as [Address Line 4]\n      ,'' as [Address Lines Phonetic]\n      ,[City]\n      ,[Province]\n      ,[State]\n      ,[County]\n      ,[Postal Code]\n      ,[Country]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000.901745' as [Receivables Account]\n      ,'XXXXXX.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Revenue Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Tax Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Freight Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Clearing Account]\n      ,'100020.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Unbilled Receivables Account]\n      ,'XXXXXX.11111100.0000.00.00.000000.000000.000000.000000. 901745' as [Unearned Revenue Account]\n      ,[Payment Method Name]\n      ,[Payment Method Primary Flag]\n      ,[Customer Profile]\n      ,[Site Use Tax Reference]\n      ,[Time Zone]\n      ,[Language]\n      ,[Contributor Class at Account Site]\n      ,[Use Cust Site Profile Flag at Account Site]\n      ,[Contributor Class at Account Site Use]\n      ,[Use Cust Site Profile Flag at Account Site Use]\n      ,[Economic Activity]\n      ,[Payment Term Name]\n      ,[Concept Code (CR)]\n      ,[Giro (CL)]\n      ,[US Remit-to Address Mapping]\n      ,[US Tax Area Id]\n      ,[Union Local]\n      ,[TAID User Override]\n      ,[TAID Last Checked]\n      ,[TAID Assignment Result]\n      ,[TAID Confidence Indicator]\n      ,[TAID Precision]\n      ,[CRM Account]\n\t   ,[Operating Unit Name]\n     \n  FROM [dbo].[address]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Header Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Use Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Site Use Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Primary Site Use Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Primary Site Use Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": " Location",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": " Location",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Bill To Orig Address Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Bill To Orig Address Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Line 4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Lines Phonetic",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address Lines Phonetic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Province",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Receivables Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Receivables Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Revenue Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Revenue Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Tax Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tax Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Freight Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Freight Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Clearing Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Clearing Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unbilled Receivables Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unbilled Receivables Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unearned Revenue Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unearned Revenue Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Method Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Method Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Method Primary Flag",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Method Primary Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Profile",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Customer Profile",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Use Tax Reference",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Site Use Tax Reference",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Time Zone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Time Zone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Language",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Language",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contributor Class at Account Site",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contributor Class at Account Site",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Use Cust Site Profile Flag at Account Site",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Use Cust Site Profile Flag at Account Site",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contributor Class at Account Site Use",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Contributor Class at Account Site Use",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Use Cust Site Profile Flag at Account Site Use",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Use Cust Site Profile Flag at Account Site Use",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Economic Activity",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Economic Activity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment Term Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment Term Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Concept Code (CR)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Concept Code (CR)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Giro (CL)",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Giro (CL)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "US Remit-to Address Mapping",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "US Remit-to Address Mapping",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "US Tax Area Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "US Tax Area Id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Union Local",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Union Local",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID User Override",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID User Override",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Last Checked",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Last Checked",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Assignment Result",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Assignment Result",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Confidence Indicator",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Confidence Indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TAID Precision",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TAID Precision",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CRM Account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CRM Account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Operating Unit Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Operating Unit Name",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Delimitedaddressidl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Output"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Building')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Building_ExternalBuildingId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ExternalBuildingId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingName_local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingName_local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingName_en",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingName_en",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Height",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Height",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_StreetAddress_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_StreetAddress_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_StreetAddress_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_StreetAddress_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Suburb_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Suburb_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Suburb_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Suburb_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_City_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_City_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_City_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_City_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Postcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_MainTypeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_MainTypeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SubTypeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SubTypeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_BuildingNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_BuildingNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsStandbybuilding",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsStandbybuilding",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_CostingNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_CostingNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_CustomerNo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_CustomerNo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SumOfTotalUnits",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SumOfTotalUnits",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_SumOfUnitsInService",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_SumOfUnitsInService",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_QuickTurnover",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_QuickTurnover",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Latitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_Longitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_OfficeName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_OfficeName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerEmployeeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerEmployeeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerEmployeeExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerEmployeeExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TKManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TKManagerName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsRepairCorres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsRepairCorres",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCalendar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCalendar",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsGeneralCorres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsGeneralCorres",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCard",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCard",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsMonthlyReport",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsMonthlyReport",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleHours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleHours",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleHoursViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleHoursViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleTime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleTime",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleTimeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleTimeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDay",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDayViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDayViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_UnitsScheduleDayFrequency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_UnitsScheduleDayFrequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_TargetCallRate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_TargetCallRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_RunInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_RunInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunTypeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunTypeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_RunName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_RunName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHSWPResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHSWPResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHStopResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHStopResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_BHOthersResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_BHOthersResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHSWPResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHSWPResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHStopResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHStopResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_AHOthersResponse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_AHOthersResponse",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_Notes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_Notes",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_PropertyManagerEmployeeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_PropertyManagerEmployeeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunInfo_PropertyManagerEmployeeName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RunInfo_PropertyManagerEmployeeName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BusinessHourContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BusinessHourContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHSiteContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHSiteContact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactLocation_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactLocation_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactLocation_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactLocation_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactPhone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactPhone2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactPhone2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactMobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactMobile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactFax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactFax",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactRoleViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactRoleViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessHourContactInfo_BHContactRoleName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BusinessHourContactInfo_BHContactRoleName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_AfterHourContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_AfterHourContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHSiteContact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHSiteContact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactLocation_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactLocation_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactLocation_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactLocation_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactPhone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactMobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactMobile",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactFax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactFax",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactRoleViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactRoleViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactRoleViewName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactRoleViewName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AfterHourContactInfo_AHContactAccessCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AfterHourContactInfo_AHContactAccessCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BuildingContactInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BuildingContactInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_ContactName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_ContactName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingContactInfo_IsBusinessHours",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingContactInfo_IsBusinessHours",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerName_En",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerName_En",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerName_Local",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerName_Local",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMCustomerMail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMCustomerMail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMMailTemplateSubject",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMMailTemplateSubject",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_VFMMailTemplateContent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_VFMMailTemplateContent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsCustomisedMail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsCustomisedMail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportFrequencyViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportFrequencyViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportFrequency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportFrequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportTypeViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportTypeViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_IsReportInvoice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_IsReportInvoice",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportSendTo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportSendTo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportAuditRequired",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportAuditRequired",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportAuditDetail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportAuditDetail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_ReportServiceDockets",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_ReportServiceDockets",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_FromProjectId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_FromProjectId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Building_FromProjectLabel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Building_FromProjectLabel",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_BuildingCustomerInfo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_BuildingCustomerInfo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerExternalId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerExternalId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BuildingCustomerInfo_CustomerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuildingCustomerInfo_CustomerName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Array_State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Array_State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State_ViewId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_ViewId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Builiding_TimeZone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Builiding_TimeZone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Builiding_CustomerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Builiding_CustomerCode",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Buildingsql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "CustomerOKH"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Salesforce_Inbound_withDateFilter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[ETL].[usp_ADF_Get_ADFControl_NextExtract]",
								"storedProcedureParameters": {
									"CoreFileName": {
										"type": "String",
										"value": "[[building].[Viewbuilding_API_add]"
									},
									"DataSource": {
										"type": "String",
										"value": "Azuremaintenance"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Azuremaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SetLastExtractStart",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[usp_ADF_Set_ADFControl]",
							"storedProcedureParameters": {
								"CoreFileName": {
									"value": "[[building].[Viewbuilding_API_add]",
									"type": "String"
								},
								"DataSource": {
									"value": "Azuremaintenance",
									"type": "String"
								},
								"ExtractDateTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"UpdateActionType": {
									"value": "S",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"description": "Pull SFDC AccountPartner to TXT files in Azure Blob Storage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetLastExtractStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "\n\nSELECT [ETL_Load_Date_Time]  FROM [building].[Viewbuilding_API_add] WHERE SYSDATETIMEOFFSET()>= @{formatDateTime(activity('lookup1').output.firstRow.NextExtractStartDateTime,'yyyy-MM-ddTHH:mm:ssZ')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "am_da_ds_dst_exviewBuildingapi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Viewbuilding_API_addtest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetLastExtractStart",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ETL].[usp_ADF_Get_ADFControl_NextExtract]",
							"storedProcedureParameters": {
								"CoreFileName": {
									"value": "[[building].[Viewbuilding_API_add]",
									"type": "String"
								},
								"DataSource": {
									"value": "sfdv",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"actualRunTime": {
						"type": "string",
						"defaultValue": "2018-02-26 10:09:08"
					}
				},
				"folder": {
					"name": "Training"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}